{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "Vue": true
  },
  "rules": {
    "no-param-reassign": "off",
    "valid-jsdoc": ["error", {
      "requireReturn": false
    }]
  },
  "overrides": [
    {
      "files": ["test/**/*.spec.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
